{% extends 'base.html' %}
{% block content %}
<div class="page-container">
    <div id="feed-width">
        <div class="locals-container">
            <div class="container3">
                {% for local in locals1 %}
                    <a class="opinion-page-opinion" href="{% url 'local' local.id %}" role="button">
                        <div class="item-3">
                            <div class="card text-center">
                                <div class="card-header">
                                    {{local.name}}, {{local.local_addres}} {{local.local_street}}
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{local.description}}</p>
                                    {% load static %}<img src='{% static "locals/" %}{{ local.id }}/logo.png' id="pin-image3" class="img-fluid" alt="{{local.name}}" onerror="this.style.display = 'none'">
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="container3">
                {% for local in locals2 %}
                <a class="opinion-page-opinion" href="{% url 'local' local.id %}" role="button">
                    <div class="item-3">
                        <div class="card text-center">
                            <div class="card-header">
                                {{local.name}}, {{local.local_addres}} {{local.local_street}}
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{local.description}}</p>
                                {% load static %}<img src='{% static "locals/" %}{{ local.id }}/logo.png' id="pin-image3" class="img-fluid" alt="{{local.name}}" onerror="this.style.display = 'none'">
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="container3">
                {% for local in locals3 %}
                <a class="opinion-page-opinion" href="{% url 'local' local.id %}" role="button">
                    <div class="item-3">
                        <div class="card text-center">
                            <div class="card-header">
                                {{local.name}}, {{local.local_addres}} {{local.local_street}}
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{local.description}}</p>
                                {% load static %}<img src='{% static "locals/" %}{{ local.id }}/logo.png' id="pin-image3" class="img-fluid" alt="{{local.name}}" onerror="this.style.display = 'none'">
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="container3">
                {% for local in locals4 %}
                <a class="opinion-page-opinion" href="{% url 'local' local.id %}" role="button">
                    <div class="item-3">
                        <div class="card text-center">
                            <div class="card-header">
                                {{local.name}}, {{local.local_addres}} {{local.local_street}}
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{local.description}}</p>
                                {% load static %}<img src='{% static "locals/" %}{{ local.id }}/logo.png' id="pin-image3" class="img-fluid" alt="{{local.name}}" onerror="this.style.display = 'none'">
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="container3">
                {% for local in locals5 %}
                <a class="opinion-page-opinion" href="{% url 'local' local.id %}" role="button">
                    <div class="item-3">
                        <div class="card text-center">
                            <div class="card-header">
                                {{local.name}}, {{local.local_addres}} {{local.local_street}}
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{local.description}}</p>
                                {% load static %}<img src='{% static "locals/" %}{{ local.id }}/logo.png' id="pin-image3" class="img-fluid" alt="{{local.name}}" onerror="this.style.display = 'none'">
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="container-info"><div id="sticky">
        <div class="list-group">
            <a href="#" class="list-group-item btn-outline-secondary">Twoje miejsca</a>
        </div>
        <div class="list-group">
            <a href="#"  class="list-group-item btn-outline-secondary">Chcę odwiedzić</a>
        </div>
        <div class="list-group">
            <a href="{% url 'rating_list' %}"  class="list-group-item btn-outline-secondary">Opinie</a>
        </div>
        <div class="list-group">
            <a href="{% url 'local_add' %}" class="list-group-item btn-outline-secondary">Stwórz miejsce</a>
        </div>
    </div>
</div>
{% endblock %}