<div id="feed-width">
    {% for post in posts %}
        <div class="card text-center" id="feed-card">
            <div class="card-header">
                {% if request.user != post.owner %}
                    <a class="user-page-link" href="{% url 'create_room' post.owner.id %}">@{{post.owner}}</a>
                {% else %}
                    <a class="user-page-link" href="{% url 'create_room' post.owner.id %}">@{{post.owner}}</a>
                {% endif %}
                , {{post.added}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <p class="card-text">{{post.body}}</p>
                {% load static %}<img src='{% static "posts/" %}{{post.owner.id}}/{{ post.id }}.png' id="feed-image" class="img-fluid" alt="posts/1/{{ post.id }}.png" onerror="this.style.display = 'none'">
            </div>
            <div class="card-footer text-muted">
                <a class="btn btn-primary" href="{% url 'post' post.id %}" role="button">Zobacz więcej</a>
            </div>
        </div>
    {% endfor %}
</div>