

<div id="sticky">
    <div class="list-group">
        <a href="{% url 'post_add' %}" class="list-group-item btn-outline-secondary">Dodaj post</a>
    </div>
    <div class="list-group">
        <a href="{% url 'post_add' %}" class="list-group-item btn-outline-secondary">Dodaj post</a>
    </div>
    <div class="list-group">
        <a href="{% url 'post_add' %}" class="list-group-item btn-outline-secondary">Dodaj post</a>
    </div>
    <div class="list-group">
        <a href="{% url 'post_add' %}" class="list-group-item btn-outline-secondary">Dodaj post</a>
    </div>
    <div class="list-group">
        <a href="{% url 'post_add' %}" class="list-group-item btn-outline-secondary">Dodaj post</a>
    </div>
</div>