{% extends 'base.html' %}
{% block content %}
<div id="feed-width">
    {% for notifiaction in notifiactions %}
        {% if notifiaction.person.id != request.user.id %}
            <div class="card">
                <div class="card-header">
                <a class="user-page-link" href="{% url 'user_page' notifiaction.person %}" >@{{notifiaction.person}}</a>, 
                <a class="user-page-link" href="{% url 'post' notifiaction.post.id %}">
                {{notifiaction.added}}
                </div>
                <li class="list-group-item">
                    {% if notifiaction.type == "c" %} dodano komentarz:
                    {% elif notifiaction.type == "l" %} polubiono:
                    {% else %} znielubiono:
                    {% endif %}
                    {{notifiaction.person}}</li>
            </div>
            </a>
            <div style="height: 5px;"></div>
        {% endif %}
    {% endfor %}
</div>
{% endblock content %}