
					<form method="GET" action="{% url 'notifiactions' %}">
						{% csrf_token %}
						<a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<input type="submit" value="Powiadomienia">
						</a>
					</form>


<form action="{% url 'notifiactions' %}">
	{% csrf_token %}
	<div class="dropdown show">
		
		<!-- Activate toggler -->
		<input type="submit" Va class="nav-link dropdown-toggle pointer" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		<button type="submit" 
			Powiadomienia
		</button>
	
		<!-- Toggler body -->
		<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			<div class="card" style="width: 18rem;">
				<ul class="list-group list-group-flush">
					{% for notifiaction in notifiactions %}
						<li class="list-group-item">{{notifiaction}}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</form>


<!-- Activate toggler and send info to views to get querry -->
<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
	<form method="POST" action="{% url 'notifiactions' %}">
		{% csrf_token %}
		<input type="submit" Va class="nav-link dropdown-toggle pointer" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	</form>
	<div class="dropdown show">
		<!-- Toggler body -->
			<div class="card" style="width: 18rem;">
				<ul class="list-group list-group-flush">
					{% for notifiaction in notifiactions %}
						<li class="list-group-item">{{notifiaction}}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>