{% extends 'base.html' %}
{% block content %}
<div class="page-container">
    <div class="container-content">
        {% include 'core/feed.html' %}
    </div>
    {% if request.user == user_req %}
        <div class="container-info"><div id="sticky">
            <div class="list-group">
                <a href="{% url 'chat_list' %}" class="list-group-item btn-outline-secondary">Wiadmoosci</a>
            </div>
            <div class="list-group">
                <a href="{% url 'user_interactions' user_req.username %}" class="list-group-item btn-outline-secondary">Interakcja z postami</a>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item btn-outline-secondary">Zarzadzaj kontem</a>
            </div>
        </div>
        </div>
    {% else %}
        <div class="container-info">
            <div class="list-group">
                <a href="{% url 'create_room' user_req.id %}" class="list-group-item btn-outline-secondary">Napisz wiadomość</a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}
