{% extends 'base.html' %}
{% block content %}
<div class="user-data-manage-container">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputPassword1">Obecne hasło: </label>
            <input type="password" name="old_password" class="form-control" id="exampleInputPassword1">
            <small id="emailHelp" class="form-text text-muted">Aby zmienić hasło najpeirw muszisz wrowadzić obecne.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Zmień hasło: </label>
            <input type="password" name="new_password1" class="form-control" id="exampleInputPassword1" placeholder="Nie używaj słabych haseł typu: haslo, 123456, nazwa użytkownika">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Potwierdź zmienione hasło: </label>
            <input type="password" name="new_password2" class="form-control" id="exampleInputPassword1" placeholder="Nie używaj słabych haseł typu: haslo, 123456, nazwa użytkownika">
        </div>
        <div class="confirm-button-pos">
            <button type="submit" class="btn btn-primary">Potwierdź zmaiany</button>
        </div>
    </form>
</div>

{% endblock %}
