/* navbar */
#wider-searchbar {
    width:430px !important;
}

#nabar-colour {
    background-color: #04044C;
}
/* end navbar */


/* home page */
#page-container {
    display: flex;
}

#container-content {
    width: 80%;
    height: 100%;                                                                                 /*change it later to 100%*/
    border-right: 1px solid black;
}
@media only screen and (max-width: 768px) {
    #container-content {
        width: 100%;
    }
}

#container-info{
    float: left;
    width: 20%;
    overflow: hidden;
    content: fill;
}

@media only screen and (max-width: 768px) {
    #container-info {
        display: none !important;
    }
}
/* end home page */


/* login and register panels */                                                             /*do it more responive (text in labels does not show good enough on smaller devoces */
.panels-postion {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.panels-size {
    width: fit-content;
    height: auto;
}
/* end login and register panels */