/* navbar */
#wider-searchbar {
    width:430px !important;
    overflow: hidden;
    justify-content: center;
}

#nabar-colour {
    background-color: #04044C;
    margin-bottom: 15px;
}

#searchbar-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
}

#search-button {
    height: 40px;
    width: 48px;
    margin-left: 3px;
    margin-right: -3px;
}
/* end navbar */


/* home page */
.page-container {
    display: flex;
}

.container-content {
    width: 80%;
    height: 100%;                                                                                 /*change it later to 100%*/

}
@media only screen and (max-width: 768px) {
    .container-content {
        width: 100%;
    }
}

.container-info{
    width: 20%;
}

@media only screen and (max-width: 768px) {
    .container-info {
        display: none !important;
    }
}
/* end home page */


/* login and register panels */                                                             /*do it more responive (text in labels does not show good enough on smaller devoces */
.panels-postion {
    margin: auto;
}

.panels-size {
    width: fit-content;
    height: auto;
}
/* end login and register panels */


/* messages */
#messages {
    margin: auto;
}

#messages {
    height: 66px;
    width: 80rem;
}
/* end messages */


/* feed */
#feed-width {
    width: 60%;
    margin: auto;
}

#feed-card {
    margin-bottom: 15px;
}

#feed-image {
    width: 100%;
    max-height: 1000px;
}

.reaction-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a.user-page-link:hover, a.user-page-link:visited, a.user-page-link:active, a.user-page-link:link {
    color: black;
    text-decoration: none;
}
/* end feed */


/* infos */
#sticky {
    position: sticky;
    top: 72px;
}

.info-buttons {
    width: 80%;
    margin: auto;
}
/* endinfos */


/*add post*/
#post-add {
    width: 40%;
}

@media only screen and (max-width: 992px) {
    #post-add {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    #post-add {
        width: 100%;
    }

    .add-post-input{
        width: 70%;
    }
}

.fit-label {
    width: fit-content;
}

#add-button {
    padding-bottom: 15px;
}

.add-post-title {
    margin-left: auto;
}

.add-post-input {
    margin-right: auto;
}

#post-button {
    margin-bottom: 15px;
}
/*end add post*/


/* post page */
#left-spacer {
    width: 20%;
    height: auto;
}

#right-spacer {
    width: 20%;
    height: auto;
}

#button-normal {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

#add-coment-elements {
    display: flex;
    flex-direction: row;
}

#add-coment-input {
    width: 80%;
    margin: auto;
}
/* end post page */


/* chat list page */
a.chat-page-links:link, a.chat-page-links:visited {
    color: black;
    text-decoration: none;
}

a.chat-page-links:active, a.chat-page-links:hover {
    color: white;
    text-decoration: none;
}
/* end chat list page */

/* chat */
#chat-input {
    position: fixed;
    bottom: 15px;
    width: 60%;
    margin: auto;
}

#maessages-field-gap {
    height: 100px;
}
/* end chat */


/* locals page */
#page-container-locals {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

#local-image {
    max-width: 100%;
    height: auto;
}

#local-card {
    width: 30%;
    height: auto;
}

#local-info {
    position: absolute;
    left: 50%;
    top: 63px;
    transform: translate(-50%, 0);
    width: 60%;
}

.container3 {
    padding: auto;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Shorthand – you could use ‘flex-direction: column’ and ‘flex-wrap: wrap’ instead */
}

.item-3 {
    height: fit-content;
    padding: 5px;
    width: 200px;
    margin: auto;
}

#pin-image3 { 
    width:  100%;
    height: auto;
}

.locals-container {
    display: flex;
    justify-content: space-between;
}
/* end locals page */


/* local page */
.add-opinion-input {
    display: flex;
    justify-content: center;
}

#local-opinion-form {
    width: 80%;
    margin: auto;
}

.opinion-body {
    width: 80%;
}
/* end local page */

/* product page */
.price-pos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a.edit-product:hover, a.edit-product:visited, a.edit-product:active, a.edit-product:link {
    color: white;
    text-decoration: none;
    padding-top: 1px;
}
/* end product page */

/* opinion page */
a.opinion-page-opinion:hover, a.opinion-page-opinion:visited, a.opinion-page-opinion:active, a.opinion-page-opinion:link {
    color: black;
    text-decoration: none;
}
/* end opinion page */

/* search results */
.search {
    display: flex;
}
/* end search results */