{% extends 'base.html' %}
{% block content %}
<div id="feed-width">
    {% for message in messages_users %}
        {% if message.person.id == request.user.id %}
            <div class="card text-right">
                <div class="card-header">
                    <a class="user-page-link" href="{% url 'user_page' message.person %}">@{{message.person}}</a>, {{message.added}}
                </div>
                <div class="card-body">
                    <p class="card-text">{{message}}</p>
                </div>
            </div>
        {% else %}
            <div class="list-group text-left">
                <div class="card">
                    <div class="card-header">
                        <a class="user-page-link" href="{% url 'user_page' message.person %}">@{{message.person}}</a>, {{message.added}}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{message}}</p>
                    </div>
                </div>
            </div>
        {% endif %}
        <br>
    {% endfor %}
    <div id="maessages-field-gap"></div>
    <div id="chat-input">
        <form method="POST" action="{% url 'message_add' room.id request.user.id %}">
            {% csrf_token %}
            <div id="add-coment-elements">
                <div id="add-coment-input">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="body"></textarea>
                </div>
                <input type="submit" value="Potwierdź">
            </div>
        </form>
    </div>
</div>
{% endblock content %}