{% extends 'base.html' %}
{% block content %}
<div>
    <div class="panels-postion" id="post-add">
        <div class="card-body">
            <form method="POST" action="" enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="card text-center" id="feed-card">
                    <div>
                        <br>
                        <div class="form-group row">
                            <label for="title" class="col-form-label add-post-title">Nazwa:</label>
                            <div class="col-sm-9 add-post-input">
                                <input type="text" class="form-control" id="title" name="name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group row ml-auto">
                                <label for="title" class="col-form-label add-post-title">Adres: </label>
                                <div class="col-sm-10 add-post-input">
                                    <input type="text" class="form-control" id="title" name="local_addres">
                                </div>
                            </div>
                            <div class="col-sm-4 mr-auto"><div class="form__group">
                                <label for="street" class="col-form-label add-post-title">Wybierz ulicę:</label>
                                <input required type="text" class="form-control" name="local_street" id="street" list="street-list"/>
                                <datalist id="street-list">
                                    <select id="street">
                                        {% for street in streets %}
                                            <option value="{{street.name}}">
                                                {{street.name}}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </datalist>
                              </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="body" class="col-form-label add-post-title">Opis:</label>
                            <div class="col-sm-9 add-post-input">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
                            </div>
                        </div>
                        <div class="input-group d-flex justify-content-center" id="add-button">
                            <input type="file" name="logo">
                        </div>
                        <input type="submit" class="btn btn-primary" id="post-button" value="Prześlij">
                        <br>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}